@import '~assets/styles/vars';

.leftWrap {
  width: calc(100% - 180px);
  flex-wrap: nowrap;
}

.train {
  text-transform: capitalize;
}

.removeBtn {
  margin-top: $size-md;
  @media screen and(min-width:$breakpoint-sm) {
    margin: 0;
  }
}
