@import '~assets/styles/vars';

.formWrapper {
  background-color: $white;

  @media all and (max-width: 767px) {
    margin: 0 -0.75rem;
  }
}

.asLink {
  padding: 0 !important;
  border: 0;
  background: none !important;

  button#{&} {
    font-size: 1rem;
  }
}
