@import '~assets/styles/vars';

.asLink {
  padding: 0 !important;
  border: 0;
  background: none !important;
}

// sass-lint:disable no-qualifying-elements
button.asLink {
  font-size: 1rem;
}

.formWrapper {
  background-color: $white;

  @media all and (max-width: 767px) {
    margin: 0 -0.75rem;
  }
}
