.serviceWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
  padding-bottom: 1em;
  padding-top: 1em;
  .removeBtn {
    @media (min-width: 380px) {
      top: 0;
      bottom: 0; 
    }
    background: none;
      cursor: pointer;
      border: 0;
      position: absolute;
      top: 1rem;
      right: 1em;
      margin: auto;
      right: .75rem;
      .closeIcon {
        width: 22px;
      height: 22px;
      fill: #9d5baf;
      }
  }
}


